@tailwind base;
/* estilos base (aplicados a los elementos) */

@tailwind components;
/* aquí van nuestras clases de componentes
 (extraidos, podemos usar @apply para
 aplicar estilos de tailwind */
html {
  scroll-behavior:smooth;
}
.btn-wsp {
  @apply  bg-whatsapp-100 hover:bg-whatsapp-200 text-white py-2 px-10 rounded-full;
}

@tailwind utilities;
/* nuestras utilidades extra */
@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}
@font-face {
  font-family: "EtherealThin";
  src: url("../public/fonts/Ethereal-Thin.otf");
}
@font-face {
  font-family: "IgniteDreamsScript";
  src: url("../public/fonts/IgniteDreams-Script.otf");
}
@font-face {
  font-family: "BethadiyaRegular";
  src: url("../public/fonts/bethadiyaregular.otf");
}
@font-face {
  font-family: "Quaylike";
  src: url("../public/fonts/Quaylike.otf");
}


/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
